
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    background-color: #f0f0f0;
    text-align: center; 
    font-size: 2rem;
    font-weight: normal;
    padding: 10px;
}

#puzzleContainer {
    background-color: rgba(0,0,0,0.75);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;

    .puzzles {
        background-color: #e8e8e8;
        width: 1060px;
        margin: 20px auto;
        border: 1px solid rgba(0,0,0,0.8);
        text-align: center;
        padding: 20px;

        h1 {
            background: none;
            font-size: 1.5rem;
        }

        .puzzleThumbnail {
            width: 200px;
            height: 150px;
            margin: 1px;
            cursor: pointer;

            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            display: inline-block;
        }
    }
}



#buttonShowPreview, #buttonNewPuzzle {

    margin: 20px;

    font-size: 1.1rem;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
    background-color: #f0f0f0;
    color: #3366ff;
    cursor: pointer;
    
    &:hover {
        background-color: #333333;
        color: #f0f0f0;
    }
}

#puzzleControls {

    clear: both;

}


#puzzleTable {
    background-color: #999999;
    position: relative;

    width: auto;
    display: inline-block;
    margin: 0 auto;

    clear: both;
    
    #finalImage {
        padding: 0;
        width: 800px;
        height: 600px;
        background-color: #a9a9a9;
        float: left;

        div {
            width: 100px;
            height: 100px;
            display: block;
            margin: 0;
            float: left;
        }

        div:nth-child(3n+1) {
            background-color: #b8b8b8;
        }

        div:nth-child(3n+2) {
            background-color: #cccccc;
        }

    }

    #scrambledElements {
        padding: 20px;
        overflow: auto;   
        float: left;
        width: 400px;
        height: 600px; 
        box-sizing: border-box;

        canvas {
            margin: 4px;
        }
    }

    #puzzlePreview {
        background-color: rgba(0,0,0,0.75);
        width: 800px;
        height: 600px;
        position: absolute;
        top: 0; left: 0;
        text-align: center;

        #puzzlePreviewImage {
            width: 400px;
            height: 300px;
            border: 1px solid #000000;
            box-sizing: content-box;
            position: relative;
            margin: 149px auto;

            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}



